{$DOMAIN} {
    root * /var/www/html
    php_server
    file_server

    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy no-referrer-when-downgrade
    }
}
